@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.ant-card-actions > li {
  margin: 6px 0;
}

/* avoid scroll bar shake */
#root {
  padding-left: calc(100vw - 100%); 
}

.show{
  opacity: 1;
  transition: all 1s ease-in;
}

.hide{
  opacity: 0;
  margin-top: 200px;
}